* {
    margin: 0;
    padding: 0;
    /* font-family: "Pompiere", serif; */
    font-family: Arial, Helvetica, sans-serif;
    font-size:22px;
  }
  
  .main_box {
    background: url("photo.jpg");
    height: 100vh;
    background-size:cover;
  }

  .btn_one i{
    color: white;
    font-size: 30px;
    font-weight: 700;
    position: absolute;
    left: 16px;
    line-height: 60px;
    cursor: pointer;
    transition: 0.5s;
  }

  .sidebar_menu {
   position: fixed;
    left: -300px;
    height: 100vh;
    width: 300px;
    background-color: rgba(255,255,255,0.1);
    box-shadow: 0 2px 6px rgba(255,255,255,0.5);
    transition:  0.5s ;
  }

  .sidebar_menu .logo {
    position: absolute;
    width: 100%;
    color: white;
    height: 60px;
    line-height: 60px;
    box-shadow: 0 2px 4px rgba(255,255,255,0.5);
  }

  .sidebar_menu .logo a{
    position: absolute;
    left: 50px;
    text-decoration: none;
    color: white;
    font-size: 30px;
    
  }

  .sidebar_menu .btn_two {
    color: rgb(128, 128, 128);
    font-size: 30px;
    font-weight: 700;
    position: absolute;
    left: 270px;
    cursor: pointer;
    line-height: 60px;
  }

  .sidebar_menu .menu {
    position: absolute;
    top: 85px;
    width: 100%;
    line-height: 40px;
  }

  .sidebar_menu .menu li {
    padding: 10px 18px;
  }

  .sidebar_menu .menu i,a {
    color: white;
    text-decoration: none;
  }

  .sidebar_menu .menu i{
    padding-right: 10px;
  }

  .sidebar_menu .social_media {
    color: white;
    
    position: absolute;
    left: 25%;
    top: 90%;
  }
  
  .sidebar_menu .social_media i{
    opacity: 0.5;
  }

  #check {
    display:none;
  }

  .sidebar_menu .menu li:hover {
    box-shadow:  0 0 4px rgba(255,255,255,0.5);
  }

  .btn_one i:hover {
    font-size: 35px;
  }

  .btn_two i:hover {
    font-size: 35px;

  }

  .sidebar_menu .social_media i:hover {
    opacity: 1;
    transform: scale(1.2);
  }

  #check:checked ~ .sidebar_menu{
    left: 0;
  }

  #check:checked ~ .btn_one {
    display:none;
  }
